<a href="https://colab.research.google.com/github/SakshiThorat1/DMW/blob/main/DMWAssignmentNo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DMW Assignment No.1

Sakshi Thorat B.E(B-17)

Q.1)From sklearn.datasets load digits dataset and do following
  1. Classify digits (0 to 9) using KNN classifier. You can use different
     values for k neighbors and need to figure out a value of K that gives
     you a maximum score. You can manually try different values of K or
     use gridsearchcv
  2. Plot confusion matrix
  3. Plot classification report

In [13]:
from sklearn.datasets import load_digits
digits = load_digits()
print(digits.target.shape)
print(digits.data.shape)

(1797,)
(1797, 64)

In [2]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target, test_size=0.3)

Use of GridSearchCV :

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
X = digits.data
y = digits.target

k_range = list(range(1, 100))

param_grid = dict(n_neighbors=k_range)
grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy')
grid.fit(X,y)
print (grid.best_params_)

{'n_neighbors': 3}

In [15]:
print (grid.best_score_)
print (grid.best_estimator_)

0.9766325263811299
KNeighborsClassifier(n_neighbors=3)

Value of K that gives maximum score is 3.

Confusion Matrix

In [16]:
from sklearn.metrics import confusion_matrix
y_pred=knn.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[46,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 55,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0, 59,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0, 46,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0, 57,  0,  0,  1,  0,  1],
       [ 0,  0,  0,  0,  0, 53,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0, 48,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0, 58,  0,  0],
       [ 0,  3,  1,  1,  0,  0,  0,  0, 48,  1],
       [ 0,  1,  0,  0,  0,  2,  0,  0,  1, 58]])

Classification Report

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        46
           1       0.93      1.00      0.96        55
           2       0.98      1.00      0.99        59
           3       0.98      1.00      0.99        46
           4       1.00      0.97      0.98        59
           5       0.96      1.00      0.98        53
           6       1.00      1.00      1.00        48
           7       0.98      1.00      0.99        58
           8       0.98      0.89      0.93        54
           9       0.97      0.94      0.95        62

    accuracy                           0.98       540
   macro avg       0.98      0.98      0.98       540
weighted avg       0.98      0.98      0.98       540

Q.2)Build decision tree model to predict survival based on certain parameters
CSV file is available to download at Â https://www.kaggle.com/c/titanic/data.
   
   In this file using following columns build a model to  predict  if person would
survive or not,
1. Pclass
2. Sex
3. Age
4. Fare

Calculate score of your model.

In [18]:
import pandas as pd

In [21]:
df = pd.read_csv('train.csv')
df = df[['Pclass','Sex','Age','Fare','Survived']]
df = df.dropna() 
df.describe()

           Pclass         Age        Fare    Survived
count  714.000000  714.000000  714.000000  714.000000
mean     2.236695   29.699118   34.694514    0.406162
std      0.838250   14.526497   52.918930    0.491460
min      1.000000    0.420000    0.000000    0.000000
25%      1.000000   20.125000    8.050000    0.000000
50%      2.000000   28.000000   15.741700    0.000000
75%      3.000000   38.000000   33.375000    1.000000
max      3.000000   80.000000  512.329200    1.000000

In [28]:
df['Sex'] = df['Sex'].apply(lambda x: x=='male')

df.head()

   Pclass    Sex   Age     Fare  Survived
0       3   True  22.0   7.2500         0
1       1  False  38.0  71.2833         1
2       3  False  26.0   7.9250         1
3       1  False  35.0  53.1000         1
4       3   True  35.0   8.0500         0

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [23]:
print(X_train.shape)
print(y_train.shape)

(1437, 64)
(1437,)

In [24]:
from sklearn import tree
model = tree.DecisionTreeClassifier(random_state = 0)
model.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [25]:
import graphviz
from graphviz import Source
graph = Source( tree.export_graphviz(model, out_file=None,filled=True, 
                                rounded=True,  
                                special_characters=True))
graph.format = 'png'
graph.render("DecisionTree",view=True)

'DecisionTree.png'

In [27]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
print('Score:', accuracy_score(y_test,y_pred))

Score: 0.8555555555555555